In [1]:
import pandas as pd

In [ ]:
data = [[1, 100], [2, 200], [3, 300]]
employee = pd.DataFrame(data, columns=['id', 'salary']).astype({'id':'int64', 'salary':'int64'})

In [ ]:
def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    employee['rank']=employee['salary'].rank(method='min',ascending=False)
    second=employee.loc[employee['rank']==2,['salary']].drop_duplicates()
    if second.empty:
        return pd.DataFrame({
            'SecondHighestSalary':pd.Series([None],dtype='Int64')
        })

    return second.rename(columns={'salary':'SecondHighestSalary'})

In [24]:
print(second_highest_salary(employee=employee))

   SecondHighestSalary
0                 <NA>