In [2]:
import pandas as pd

In [6]:
data = [[1, 100], [2, 200], [3, 300],[4, 200]]
employee = pd.DataFrame(data, columns=['id', 'salary']).astype({'id':'int64', 'salary':'int64'})

In [ ]:
def nth_highest_salary(employee: pd.DataFrame, N: int) -> pd.DataFrame:
    title = f"getNthHighestSalary({N})"
    employee = employee.drop_duplicates(subset="salary").sort_values(
        "salary", ascending=False
    )[["salary"]]
    if len(employee) >= N & N > 0:
        return employee.iloc[N - 1 : N].rename(columns={"salary": title})
    return pd.DataFrame({title: pd.Series([None], dtype="Int64")})

In [ ]:
print(nth_highest_salary(employee=employee, N=1))

   getNthHighestSalary(1)
2                     300