In [1]:
import pandas as pd

In [2]:
data = [[3, 'Brad', None, 4000], [1, 'John', 3, 1000], [2, 'Dan', 3, 2000], [4, 'Thomas', 3, 4000]]
employee = pd.DataFrame(data, columns=['empId', 'name', 'supervisor', 'salary']).astype({'empId':'Int64', 'name':'object', 'supervisor':'Int64', 'salary':'Int64'})
data = [[2, 500], [4, 2000]]
bonus = pd.DataFrame(data, columns=['empId', 'bonus']).astype({'empId':'Int64', 'bonus':'Int64'})

In [5]:
def employee_bonus(employee: pd.DataFrame, bonus: pd.DataFrame) -> pd.DataFrame:
    df = pd.merge(employee,bonus, how='left',on='empId')
    # return df.loc[(df['bonus'].isna())|(df['bonus']<1000),['name','bonus']]
    return df[df['bonus'].isna() | (df['bonus'] < 1000)][['name', 'bonus']]

In [6]:
print(employee_bonus(employee, bonus))

   name  bonus
0  Brad   <NA>
1  John   <NA>
2   Dan    500