In [26]:
import pandas as pd

In [ ]:
data = [
    [1, "John", 100000, 6, "4/1/2006"],
    [2, "Amy", 12000, 5, "5/1/2010"],
    [3, "Mark", 65000, 12, "12/25/2008"],
    [4, "Pam", 25000, 25, "1/1/2005"],
    [5, "Alex", 5000, 10, "2/3/2007"],
]
sales_perso = pd.DataFrame(
    data, columns=["sales_id", "name", "salary", "commission_rate", "hire_date"]
).astype(
    {
        "sales_id": "Int64",
        "name": "object",
        "salary": "Int64",
        "commission_rate": "Int64",
        "hire_date": "datetime64[ns]",
    }
)
data = [[2, "ORANGE", "New York"], [3, "YELLOW", "Boston"], [4, "GREEN", "Austin"]]
company = pd.DataFrame(data, columns=["com_id", "name", "city"]).astype(
    {"com_id": "Int64", "name": "object", "city": "object"}
)
data = [
    [1, "1/1/2014", 3, 4, 10000],
    [2, "2/1/2014", 4, 5, 5000],
    [3, "3/1/2014", 1, 1, 50000],
    [4, "4/1/2014", 1, 4, 25000],
]
orders = pd.DataFrame(
    data, columns=["order_id", "order_date", "com_id", "sales_id", "amount"]
).astype(
    {
        "order_id": "Int64",
        "order_date": "datetime64[ns]",
        "com_id": "Int64",
        "sales_id": "Int64",
        "amount": "Int64",
    }
)

In [ ]:
def sales_person(
    sales_perso: pd.DataFrame, company: pd.DataFrame, orders: pd.DataFrame
) -> pd.DataFrame:
    red = company.loc[company["name"] == "RED", "com_id"]
    if len(red) == 0:
        return sales_perso[["name"]]
    red_id = red.iloc[0]
    red_cus_id = orders.loc[orders["com_id"] == red_id, "sales_id"].unique()
    m1 = ~sales_perso["sales_id"].isin(red_cus_id)
    return sales_perso[m1][["name"]]

In [49]:
print(sales_person(sales_perso, company, orders))

   name
0  John
1   Amy
2  Mark
3   Pam
4  Alex