In [1]:
import pandas as pd

In [2]:
data = [[1, 'A', 'm', 2500], [2, 'B', 'f', 1500], [3, 'C', 'm', 5500], [4, 'D', 'f', 500]]
salary = pd.DataFrame(data, columns=['id', 'name', 'sex', 'salary']).astype({'id':'Int64', 'name':'object', 'sex':'object', 'salary':'Int64'})

In [3]:
def swap_salary(salary: pd.DataFrame) -> pd.DataFrame:
    salary['sex']=salary.apply(lambda row: 'f' if row['sex']=='m' else 'm', axis=1)
    return salary.sort_values('id').reset_index(drop=True)

In [4]:
print(swap_salary(salary))

   id name sex  salary
0   1    A   f    2500
1   2    B   m    1500
2   3    C   f    5500
3   4    D   m     500